In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [53]:

# Load the dataset
df = pd.read_csv('chronic_kidney_disease.csv', sep=',', na_values=['', ' '])

# Rename columns for clarity
df.columns = [
    'age', 'blood pressure', 'specific gravity', 'albumin', 'sugar', 'rbc', 'pc', 'pcc', 'ba',
    'blood glucose random', 'blood urea', 'serum creatinine', 'sodium', 'potassium', 'hemoglobin',
    'packed cell volume', 'white blood cell count', 'red blood cell count', 'htn', 'dm', 'cad',
    'appet', 'pe', 'ane', 'class'
]

# Select the required columns
df = df[['age', 'blood pressure', 'specific gravity', 'albumin', 'sugar', 'blood glucose random',
         'blood urea', 'sodium', 'potassium', 'hemoglobin', 'packed cell volume',
         'white blood cell count', 'red blood cell count', 'class']]

# Convert hemoglobin from g/dl to g/l
df['hemoglobin'] = df['hemoglobin'] * 10

df.loc[:]

,age,blood pressure,specific gravity,albumin,sugar,blood glucose random,blood urea,sodium,potassium,hemoglobin,packed cell volume,white blood cell count,red blood cell count,class
0,48.0,80.0,1.020,1.0,0.0,121.0,36.0,NaN,NaN,154.0,44.0,7800.0,5.2,ckd
1,7.0,50.0,1.020,4.0,0.0,NaN,18.0,NaN,NaN,113.0,38.0,6000.0,NaN,ckd
2,62.0,80.0,1.010,2.0,3.0,423.0,53.0,NaN,NaN,96.0,31.0,7500.0,NaN,ckd
3,48.0,70.0,1.005,4.0,0.0,117.0,56.0,111.0,2.5,112.0,32.0,6700.0,3.9,ckd
4,51.0,80.0,1.010,2.0,0.0,106.0,26.0,NaN,NaN,116.0,35.0,7300.0,4.6,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,55.0,80.0,1.020,0.0,0.0,140.0,49.0,150.0,4.9,157.0,47.0,6700.0,4.9,notckd
396,42.0,70.0,1.025,0.0,0.0,75.0,31.0,141.0,3.5,165.0,54.0,7800.0,6.2,notckd
397,12.0,80.0,1.020,0.0,0.0,100.0,26.0,137.0,4.4,158.0,49.0,6600.0,5.4,notckd
398,17.0,60.0,1.025,0.0,0.0,114.0,50.0,135.0,4.9,142.0,51.0,7200.0,5.9,notckd
399,58.0,80.0,1.025,0.0,0.0,131.0,18.0,141.0,3.5,158.0,53.0,6800.0,6.1,notckd

In [ ]:
# Recode the values of the class column
df['class'] = df['class'].replace({'ckd': 'a', 'notckd': 'c'})